.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

body.fixed {
  padding-right: 17px;
  overflow: hidden;
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-width: 320px;
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.styling-title {
  display: none;
  margin: 0;
  color: #d7cabf;
  font-family: $font-family-unique;
  font-size: 60px;
  line-height: 130px;
  transform: rotate(-8deg);
  user-select: none;
}

.main-title {
  margin: 0 0 35px;
  font-family: $font-family-custom;
  font-size: 52px;
  letter-spacing: 1px;
}

.title {
  margin: 0 0 35px;
  font-family: $font-family-custom;
  font-size: 40px;
}

.title-section {
  margin: 0;
  font-family: $font-family-custom;
  font-size: 46px;
  line-height: 67px;
}

.subtitle-text {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 36px;
  text-transform: uppercase;
}

.swiper-pagination {
  &-bullet {
    width: 6px;
    height: 6px;
    border-radius: 20px;
    margin: 0 8px !important;
    background: white;
    opacity: 1;
    transition: $transition-base;

    &-active {
      width: 13px;
      background: $primary;
    }
  }
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 19px;
  box-shadow: none;
  text-transform: uppercase;
  transition: $transition-base;

  &-lg {
    padding: 10px 15px;
  }

  &-primary {
    border: 1px solid $primary;
    border-radius: 50px;
    color: white !important;

    &:focus, &:hover {
      color: $primary !important;
      background: white;
      box-shadow: 0 16px 24px rgba(255, 108, 197, 0.32);
    }

    &:not(:disabled) {
      &:not(.disabled) {
        &:active {
          &:focus {
            color: white !important;
            box-shadow: 0 16px 24px rgba(255, 108, 197, 0.32);
          }
        }
      }
    }
  }

  &-light {
    background: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);

    &:focus, &:hover {
      box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);
    }
  }

  &-link {
    position: relative;
    padding-left: 50px;
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 40px;
      height: 1px;
      background: #333333;
      transition: $transition-base;
    }

    &:hover {
      &::before {
        background: $primary;
      }
    }

    &:focus {
      text-decoration: none;
    }
  }

  &-outline {
    &-primary {
      border: 1px solid $primary;
      border-radius: 50px;
      color: $text-color;
      font-weight: 500;

      &:focus, &:hover {
        color: white;
      }
    }
  }
}

.badge {
  padding: 8px 9px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.rating-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 0 10px;
  //font-size: 1rem;

  .rating-stars {
    display: block;
    width: 100%;
    max-width: 115px;
    margin: 0 auto;
  }

  .star {
    margin: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .empty-stars {
    .star {
      svg {
        fill: #FCEDC4;
      }
    }
  }

  .filled-stars {
    .star {
      svg {
        fill: #F6BF32;
      }
    }
  }
}

.select2 {
  &-container {
    .select2 {
      &-selection--single {
        width: 100%;
        max-width: 134px;
        height: 41px;

        .select2-selection {
          &__rendered {
            padding: 0 50px 0 30px;
          }

          &__arrow {
            b {

            }
          }
        }
      }
    }

    &--default {
      .select2 {
        &-selection--single {
          border: 1px solid $primary;
          border-radius: 34px;

          .select2-selection {
            &__rendered {
              font-family: $font-family-base;
              font-weight: 500;
              line-height: 2.5;
              text-transform: uppercase;
            }

            &__arrow {
              right: 30px;
              height: 100%;

              b {

              }
            }
          }
        }

        &-container--open {
          &.select2-container {
            &--below {
              .select2-selection {
                &--single {
                  border-radius: 14px 14px 0 0;
                }
              }
            }

            &--above {
              .select2-selection {
                &--single {
                  border-radius: 0 0 14px 14px;
                }
              }
            }
          }
        }

        &-results {
          &__options {

          }

          &__option {
            text-align: center;

            &--selected {
              background: $main-second-color;
            }

            &--highlighted {
              &.select2-results__option--selectable {
                background: $primary;
              }
            }
          }
        }
      }
    }

    &--open {
      .select2-dropdown {
        border-color: $primary;
      }
    }
  }

  &-dropdown {
    border-radius: 14px;
    overflow: hidden;
  }
}

.section-breadcrumbs {
  padding: 63px 0 40px;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  background: none;

  &-item {
    a {
      color: #878787;

      &:hover {
        color: $primary;
      }
    }

    &.active {
      color: #878787;
    }

    &+ .breadcrumb-item {
      padding-left: 15px;

      &::before {
        padding-right: 15px;
      }
    }
  }
}

.slider-handles {
  height: 2px;
  border: none;
  margin: 0 8px 50px;
  background: #f5ede6;
  box-shadow: none;

  .noUi {
    &-connects {

    }

    &-connect {
      background: $primary;
    }

    &-origin {

    }

    &-handle {
      top: 50%;
      right: -50%;
      width: 16px;
      height: 16px;
      border: 2px solid $primary;
      border-radius: 100%;
      background: white;
      transform: translate(-50%, -45%);

      &::before, &::after {
        display: none;
      }
    }

    &-pips {
      &-horizontal {
        height: 0;
      }
    }

    &-value {
      display: none;
    }
  }
}

.text {
  &-mutted {
    color: #a8a8a8 !important;
  }
}

input {
  &[type="checkbox"] {
    &+ .checkbox {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;

      .checkbox {
        &-style {
          position: relative;
          display: inline-flex;
          width: 18px;
          height: 18px;
          border: 1px solid rgba(135, 135, 135, 0.15);
          border-radius: 3px;
          margin-right: 20px;
          background: rgba(135, 135, 135, 0.15);
          transition: $transition-base;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background: $primary;
            transition: $transition-base;
            transform: translate(-50%, -50%) scale(0);
          }
        }

        &-text {
          font-size: 14px;
        }
      }
    }

    &:checked + .checkbox {
      .checkbox-style {
        background: $main-third-color;

        &::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  &[type="radio"] {
    &+ .radio {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;

      .radio {
        &-style {
          position: relative;
          display: inline-flex;
          width: 25px;
          height: 25px;
          margin-right: 10px;
          border: 1px solid #FCDDEC;
          border-radius: 100%;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 11px;
            height: 11px;
            border-radius: 100%;
            background: $primary;
            transition: $transition-base;
            transform: translate(-50%, -50%) scale(0);
          }
        }

        &-text {}
      }
    }

    &:checked + .radio {
      .radio-style {
        background: $main-third-color;

        &::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  &[type="file"] {
    display: none;

    &+ .input-file {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      padding: 21px 24px;
      border: 1px solid #f5ede6;
      border-radius: 100px;
      cursor: pointer;

      .input-file {
        &__ico {
          margin-right: 15px;

          svg {
            width: 18px;
            height: 18px;
          }
        }

        &__text {
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
          white-space: nowrap;
        }
      }
    }
  }
}

.input-name {
  display: inline-block;
  margin: 0 0 10px;

  &.important {
    &::before {
      content: '* ';
      color: $primary;
    }
  }
}

.pass-visible {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  transform: translateY(-50%);

  picture {
    img {
      width: 24px;
      height: 24px;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.form-group {
  margin: 0 0 30px;
}

.form-control {
  height: 50px;
  padding: 17px 20px;
  background: #FAFAFA;
  border: none;
  border-radius: 14px;
  box-shadow: none !important;
}

.mCSB {
  &_inside {
    &> .mCSB_container {
      margin-right: 4px;
    }
  }

  &_scrollTools {
    width: 4px;

    .mCSB_dragger {
      .mCSB_dragger_bar {
        width: 2px;
        background: $primary;
      }

      &:active, &.mCSB_dragger_onDrag {
        .mCSB_dragger_bar {
          background: $primary;
        }
      }

      &:hover {
        .mCSB_dragger_bar {
          background: $primary;
        }
      }
    }

    .mCSB_draggerRail {
      display: none;
    }
  }
}

ul.style-list, ol.style-list {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;

  li {
    position: relative;
    padding-left: 27px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background: $primary;
    }
  }
}

.modal {
  &-dialog {
    max-width: 456px;
    margin: 1.75rem auto;
  }

  &-content {
    padding: 15px;
    border: none;
    border-radius: 24px;
  }

  &-header {
    padding: 0 0 20px;
    margin: 0 0 30px;
    border-bottom: 1px solid #F5EDE6;

    .close {
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0;

      svg {
        width: 16px;
        height: 16px;
        fill: $text-color;
      }
    }
  }

  &-title {
    font-family: $font-family-base;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &-body {
    padding: 0;
  }

  &-footer {
    padding: 30px 0 0;
    margin: 0;
    border: none;
  }

  &#cart {
    .modal {
      &-dialog {
        max-width: 695px;
      }

      &-content {
        padding: 0;
      }

      &-header {
        padding: 20px;
        border: none;

        .close {
          margin: 0;

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }

      &-title {
        width: 100%;
        padding: 5px 0;
        font-family: $font-family-custom;
        font-size: 26px;
        line-height: 1;
        letter-spacing: 1px;
      }

      &-body {
        padding: 0 20px 20px;
      }
    }
  }
}