// main colors
$main-first-color: #FF6CC5;
$main-second-color: #FFF4F4;
$main-third-color: #fcddec;

// colors
$title-color: #111;
$text-color: #333333;
$input-placeholder-color: #aaa;

// fonts
$font-family-base: 'TT Norms', sans-serif;
$font-family-custom: 'Arsenica', serif;
$font-family-unique: 'MADE TheArtist Script', sans-serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: true;
$body-color: $text-color;
$grid-gutter-width: 20px;

$primary: $main-first-color;
$success: #4DB467;
$danger: #F7555E;
$warning: #F68432;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1366px,
        xxxl: 1770px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1310px,
        xxxl: 1790px,
);