/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
}

/* SECTION HOME */
.section-home {
  padding: 20px 0;
  background: $main-second-color;

  .section-bg {
    display: none;
  }
}

.home-content {
  position: relative;
  max-width: 1330px;
  margin: 0 auto;

  .title {
    margin: 0 0 25px;
  }

  &__text {
    margin: 0;
    font-size: 18px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: pre-line;
  }
}

.category-nav-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  max-width: 1193px;
  padding: 55px 0 0;
  margin: 55px 0 0;

  &__item {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 145px;
    height: 172px;
    padding: 0 0 30px;
    border-radius: 15px;
    margin: 0 0 75px;
    background: #ffffff;

    &:hover {
      .category-nav-home__item-pic {
        transform: translateY(-20px);
      }
    }

    &-pic {
      transition: $transition-base;

      img {
        display: block;
        width: 115px;
        height: 143px;
        margin: -55px auto 0;
      }
    }

    &-text {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

/* SECTION BANNER */
.section-banner {
}

.slider-banner {
  width: 100%;
  max-height: 600px;
  //height: 600px;

  .swiper-slide {
    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      max-width: 1920px;
      height: 100%;
    }
  }

  &__slide {
    display: none;

    &-mob {
      img {
        max-height: 600px;
        object-fit: cover;
      }
    }
  }
}

/* SECTION MAIN CATEGORY */
.section-main-category {
  padding: 50px 0 0;
}

.main-category {
  &__head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 0 30px;
  }

  &__title {

  }

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 0 60px;
  }

  &__slider {
    width: 100%;
    overflow: visible;

    .swiper {
      &-wrapper {
        justify-content: space-between;
      }

      &-pagination {
        top: 100%;
        bottom: auto;
        z-index: 0;

        &-bullet {
          border: 1px solid $primary;
        }
      }
    }
  }

  &__card {
    width: 100%;
    max-width: 338px;
    padding: 30px 20px;
    border: none;
    border-radius: 24px;
    margin: 0 auto;
    transition: $transition-base;

    &-wrap {
      position: relative;
      width: 100%;
    }

    &-label {
      position: absolute;
      top: 20px;
      left: 6%;
    }

    &-button-favorite {
      position: absolute;
      top: 30px;
      right: 8.9%;
      width: 45px;
      height: 45px;
      padding: 12px;
      border: none;
      border-radius: 100%;
      box-shadow: 0 16px 24px rgba(255, 108, 197, 0.32);
      background: #ffc7e9;
      transition: $transition-base;

      &.active {
        background: $primary;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &-img {
      display: block;
      max-width: 245px;
      height: 250px;
      margin: 0 auto 15px;
      object-fit: contain;
      object-position: center;
    }

    &-rating {
      display: none;
    }

    &-price {
      margin: 0 0 20px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &_old {
        display: inline-block;
        margin-right: 10px;
        color: #878787;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 2px;
        text-decoration: line-through;
      }
    }

    &-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin: 0 0 20px;
      color: #a8a8a8;
      font-weight: 300;
      letter-spacing: 2px;
    }

    &-manufacturer {
      font-weight: 300;
    }

    &-reviews {
      color: #a8a8a8;
      font-weight: 300;
    }

    .card {
      &-body {
        padding: 0;
      }

      &-title {
        display: block;
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 0;
        border: none;
        background: none;
        transition: $transition-base;
      }

      &-select {
        /*& + .select2 {
          &-container {
            .select2 {
              &-selection--single {
                width: 100%;
                max-width: 134px;
                height: 41px;

                .select2-selection {
                  &__rendered {
                    padding: 0 50px 0 30px;
                  }
                  &__arrow {
                    b {

                    }
                  }
                }
              }
            }

            &--default {
              &.select2 {
                &-container--open {
                  &.select2-container {
                    &--below {
                      .select2-selection {
                        &--single, &--multiple {
                          border-radius: 34px 34px 0 0;
                        }
                      }
                    }
                    &--above {
                      .select2-selection {
                        &--single {
                          border-radius: 0 0 34px 34px;
                        }
                      }
                    }
                  }
                }
              }

              .select2 {
                &-selection--single {
                  border: 1px solid $primary;
                  border-radius: 34px;
                  transition: $transition-base;

                  .select2-selection {
                    &__rendered {
                      font-family: $font-family-base;
                      font-weight: 500;
                      line-height: 2.5;
                      text-transform: uppercase;
                    }
                    &__arrow {
                      right: 30px;
                      height: 100%;

                      b {

                      }
                    }
                  }
                }
              }
            }
          }
        }*/
      }
    }

    &:hover {
      box-shadow: 48px 48px 48px rgba(49, 49, 49, 0.1);
      z-index: 1;
    }
  }
}

/* SECTION STOCK */
.section-stock {
  padding: 80px 0;
  background: $main-second-color;

  &__decor {
    position: absolute;
    inset: 11% 10% auto auto;
    display: none;

    &_sm {
      position: absolute;
      inset: auto auto 0 11%;
      display: none;
    }

    &_lg {
      position: absolute;
      inset: 17.5% 20% auto auto;
      display: none;
    }
  }
}

.main-stock-container {
  .title {
    margin: 0 0 40px;
  }

  .subtitle-text {
    max-width: 750px;
    margin: 0 0 70px;
  }
}

/* SECTION BLOG */
.section-main-blog {
  padding: 100px 0;

  .title {
    margin: 0;
  }
}

.main-blog {
  padding: 60px 0;

  &__box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    &:not(:last-child) {
      margin: 0 0 120px;
    }

    &-pic {
      display: none;
    }

    &-content {
      max-width: 860px;
    }

    &-title {
      margin: 0 0 18px;
      font-family: $font-family-custom;
      font-size: 36px;
      line-height: 1.5;
      letter-spacing: 1px;
    }

    &-text {
      margin: 0;
      font-size: 20px;
      line-height: 33px;
    }

    &-link {
      align-self: flex-start;
      margin-top: 22px;
    }
  }
}

/* SECTION COURSES */
.section-main-courses {
  padding: 100px 0 0;
  background: $main-second-color;

  &__decor {
    display: none;
  }
}

.main-courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  &__box {
    padding: 20px 20px 30px;
    border-radius: 19px;
    margin: 0 10px 20px;
    background: white;
    text-align: center;
    transition: $transition-base;

    &:hover {
      box-shadow: 48px 48px 48px rgba(49, 49, 49, 0.1);

      .main-courses__box-link {
        margin-top: 20px;
        opacity: 1;
        visibility: visible;
      }
    }

    &-wrap {
      position: relative;
      width: 100%;
      max-width: 340px;
      height: 420px;
      z-index: 1;
    }

    &-pic {
      display: block;
      width: 100%;
      margin: 0 0 40px;

      img {
        display: block;
        width: 100%;
        max-width: 300px;
        height: 270px;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
      }
    }

    &-name {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
    }

    &-link {
      display: inline-block;
      margin-top: -50px;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.section-courses {
  padding: 0 0 40px;

  .main-courses {
    margin: 0;

    &__box {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      text-align: left;

      &-wrap {
        max-width: none;
        height: auto;

        &:not(:last-child) {
          margin: 0 0 40px;
        }
      }

      &-pic {
        width: auto;
        margin: 0;

        img {
          height: 293px;
          border-radius: 5px;
        }
      }

      &-description {
        margin: 20px 0 0;
      }

      &-name {
        margin: 0 0 20px;
        font-size: 22px;
        text-align: left;
      }

      &-text {
        margin: 0 0 30px;
        font-size: 20px;
        line-height: 33px;
      }
    }
  }
}

.section-course {
  padding: 60px 0;

  .main-title {
    margin: 0;
  }

  .title {
    margin: 0 0 70px;
  }

  .subtitle-text {
    margin: 0 0 70px;
    font-size: 50px;
  }
}

.section-about-course {
  padding: 100px 0;
}

.about-course {
  margin-bottom: 100px;

  .styling-title {
    margin-bottom: -45px;
  }

  .title {
    margin: 0 0 20px;
  }

  &__text {
    margin: 0;
    font-size: 20px;
    line-height: 33px;
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    z-index: -1;
  }

  &__video {
    width: 100%;
    max-width: 696px;
    height: 458px;
    border-radius: 40px;
  }
}

.stages {
  &__title {
    margin: 0 0 70px;
    font-family: $font-family-custom;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 1px;
  }

  &-slider {
    position: relative;

    .swiper-button {
      &-prev {
        top: auto;
        right: auto;
        bottom: 100%;
        left: 0;
        background: #f8f8f8;

        svg {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      &-next {
        top: auto;
        right: 0;
        bottom: 100%;
        background: #f8f8f8;

        svg {
          transform: translate(-50%, -50%) rotate(-90deg);
        }
      }
    }
  }

  &-slide {
    padding: 30px;
    margin-right: 30px;
    border-radius: 19px;
    box-shadow: 0 21px 35px rgba(0, 0, 0, 0.05);

    &__head {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: 0 0 20px;

      &-text {
        font-size: 35px;
        font-weight: 500;
        line-height: 41px;
        letter-spacing: 1px;
      }
    }

    &__number {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 40px;
      background: $main-third-color;
      border-radius: 100px;
      color: $primary;
      font-family: $font-family-unique;
      font-size: 150px;
      font-weight: 700;
      line-height: 0.9;
      text-align: center;
    }

    &__body {
      &-text {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 33px;

        &:last-child {
          margin: 0;
        }
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          position: relative;
          padding-left: 30px;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 11px;
            height: 11px;
            border-radius: 100%;
            //margin-right: 20px;
            background: $main-third-color;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

/* SECTION FAQ */
.section-main-faq {
  padding: 100px 0 125px;

  &__decor {
    position: absolute;
    top: 16%;
    right: 10%;
  }

  .title {
    margin: 0 0 50px;
  }
}

.faq {
  &__item {
    margin: 0;
    background: white;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    transition: $transition-base;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.active {
      border-radius: 20px 20px 0 0;

      .faq__item {
        &-head {
          background: $main-second-color;

          &-trigger {
            &::after {
              transform: translate(-50%, -50%) rotate(0deg);
            }
          }
        }
      }
    }

    &-head {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 15px;
      cursor: pointer;
      transition: $transition-base;

      &-trigger {
        flex: 1 0 auto;
        position: relative;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 10px;

        &::before, &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 25px;
          height: 1px;
          background: #333333;
          transform: translate(-50%, -50%);
          transition: $transition-base;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    &-body {
      display: none;
    }

    &-content {
      padding: 15px;
    }

    &-question {
      flex: 0 1 100%;
      font-size: 22px;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
    }

    &-answer {
      margin: 0;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

/* SECTION REVIEWS */
.section-reviews {
  padding: 100px 0;
  background: $main-second-color;

  &__decor {
    display: none;

    &_sm {
      display: none;
    }
  }

  .title {
    position: relative;
  }
}

.reviews {
  position: relative;
  max-width: 1400px;
  //margin-top: 80px;
}

.slider-reviews {
  max-width: 1210px;
  height: 100%;

  &-nav {
    position: absolute;
    top: 105%;
    right: auto;
    left: 0;
    width: 100%;
    height: 50px;
  }
}

.swiper-button {
  &-prev {
    position: absolute;
    inset: 0 auto auto 0;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 100%;
    background: white;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &-next {
    position: absolute;
    inset: auto 0 0 auto;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 100%;
    background: white;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}

.review-box {
  min-height: 195px;
  padding: 30px;
  border-radius: 9px;
  background: white;
  //box-shadow: 48px 48px 48px rgba(49, 49, 49, 0.1), 0 21px 35px rgba(0, 0, 0, 0.05);

  &__title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 33px;
  }
}

/* SECTION SEO */
.section-seo {
  padding: 80px 0 110px;
}

.main-seo {
  &-instagram {
    position: relative;

    &__decor {
      position: absolute;
      z-index: -1;

      &_first {
        top: 18.75%;
        left: 41.666666%;
      }

      &_second {
        bottom: 9%;
        left: 5%;
        transform: rotate(230deg);
      }

      &_third {
        top: 33%;
        left: 1%;
      }
    }

    .title {
      margin: 0 0 40px;
    }

    &__pic {
      display: block;
      width: 800px;
      max-width: 100%;
      max-height: 800px;
      padding: 20px;
      border-radius: 20px;
      margin: 0 0 0 auto;
      background: white;
      box-shadow: 0 21px 35px rgba(0, 0, 0, 0.05);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-partners {
    margin: 40px 0;

    .seo-partners-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
    }

    &__pic {
      display: inline-block;
      width: 140px;
      height: 88px;
      margin: 0 0 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-block {
    max-width: 1340px;
    margin: 0 auto;

    h1, .h1 {
      margin: 0 0 30px;
      font-family: $font-family-custom;
      font-size: 56px;
      letter-spacing: 1px;
      line-height: 67px;
    }

    h2, .h2 {
      margin: 0 0 20px;
      font-size: 22px;
      font-weight: 500;
      line-height: 36px;
    }

    p, span, h3, .h3 {
      margin: 0 0 20px;
      font-size: 20px;
      line-height: 34px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: disc inside;

      li {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 24px;

        &::marker {
          margin-right: 20px;
          color: $primary;
        }
      }
    }
  }
}

/* SECTION SEMINAR */
.section-seminars {
  padding: 60px 0 100px;
  background: $main-second-color;

  .subtitle-text {
    max-width: 520px;
  }
}

/* SECTION INSTAGRAM */
.section-instagram {
  padding: 80px 0;
  background: $main-second-color;
}

/* SECTION CATEGORY NAVIGATION */
.section-category-nav {

}

.category-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1570px;
  margin: 0 auto 50px;

  &__item {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 33.333333%;
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__pic {
    display: inline-block;
    width: 70px;
    height: 86px;
    margin: 0 0 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* SECTION CATALOG CATEGORY */
.section-catalog-category {
  padding: 70px 0 0;
}

.catalog-category {
  &__box {
    &:not(:last-child) {
      margin: 0 0 100px;
    }

    &-title {
      padding: 10px 0;
      border-width: 1px 0 1px;
      border-style: solid;
      border-color: #F5EDE6;
      margin: 0 0 40px;
      font-family: $font-family-custom;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
    }
  }
}

/* SECTION CATALOG */
.section-catalog {

}

.catalog {
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0 0 46px;
  }

  &__title {
    width: 100%;
    max-width: 340px;
    margin: 0;
    font-family: $font-family-custom;
    font-size: 56px;
    line-height: 67px;
    letter-spacing: 1px;
  }

  &-search {
    width: 100%;
    max-width: 1055px;

    &__input {
      width: 100%;
      height: 64px;
      padding: 18px 64px 18px 26px;
      border: 1px solid #F5EDE6;
      border-radius: 100px;
      margin: 0;
    }

    &__submit {
      position: absolute;
      top: 50%;
      right: -1px;
      width: 64px;
      height: 64px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      transform: translateY(-50%);

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-sidebar {
    width: 100%;
    max-width: 340px;

    &__box {
      &-head {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
      }

      &-name {

      }

      &-trigger {
        padding: 0;
        border: none;
        margin: 0;
        background: none;

        svg {
          width: 9px;
          height: 9px;
        }
      }

      &-body {
        margin-top: 30px;

        .catalog-sidebar__box-content {
          margin: 0;
        }
      }

      &-content {
        margin-top: 20px;
      }

      .form-group {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        label {
          margin: 0;
        }
      }
    }
  }

  &-content {

  }
}