/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
}

.main-slider {

}

/* SECTION HOME */
.section-home {
  padding: 90px 0 200px;
  background: $main-second-color;

  .section-bg {
    z-index: 0;

    &__img {
      position: absolute;
      top: 7%;
      right: 8%;
      width: auto;
      height: auto;
      object-fit: fill;
    }
  }
}

.home-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    margin: 0;
    font-family: $font-family-custom;
    font-size: 120px;
    line-height: 144px;
    letter-spacing: 1px;
  }

  &__text {
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: pre-line;
  }
}

.category-nav-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 1193px;
  padding: 55px 0 0;
  margin: 55px auto 0;

  &__item {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 172px;
    height: 172px;
    padding: 0 0 30px;
    border-radius: 15px;
    background: #ffffff;

    &:hover {
      .category-nav-home__item-pic {
        transform: translateY(-20px);
      }
    }

    &-pic {
      transition: $transition-base;

      img {
        display: block;
        width: 115px;
        height: 143px;
        margin: -55px auto 0;
      }
    }

    &-text {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

/* SECTION BANNER */
.section-banner {}

.slider-banner {
  width: 100%;
  height: 600px;

  .swiper-slide {

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      max-width: 1920px;
      height: 100%;
    }
  }
}

/* SECTION MAIN CATEGORY */
.section-main-category {
  padding: 180px 0;
}

.main-category-container {

}

.main-category {
  &__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 0 70px;
  }

  &__title {

  }

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }

  &__card {
    width: 100%;
    max-width: 338px;
    padding: 30px 20px;
    border: none;
    border-radius: 24px;
    transition: $transition-base;

    &-label {
      position: absolute;
      top: 20px;
      left: 6%;
    }

    &-button-favorite {
      position: absolute;
      top: 30px;
      right: 8.9%;
      width: 57px;
      height: 57px;
      padding: 15px;
      border: none;
      border-radius: 100%;
      box-shadow: 0 16px 24px rgba(255, 108, 197, 0.32);
      background: #ffc7e9;
      opacity: 0;
      visibility: hidden;
      transition: $transition-base;

      &.active {
        background: $primary;
      }

      svg {
        width: 26px;
        height: 26px;
      }
    }

    &-img {
      display: block;
      max-width: 245px;
      height: 328px;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
    }

    &-rating {
      display: none;
    }

    &-price {
      margin: 0 0 20px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &-info {
      margin: 0 0 20px;
      color: #a8a8a8;
      letter-spacing: 2px;
    }

    .card {
      &-body {
        padding: 0;
      }

      &-title {
        display: block;
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
      }

      &-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 0;
        border: none;
        margin-top: -10%;
        background: none;
        opacity: 0;
        visibility: hidden;
        transition: $transition-base;
      }
    }

    &:hover {
      padding-bottom: 70px;
      box-shadow: 48px 48px 48px rgba(49, 49, 49, 0.1);

      .main-category__card {
        &-button-favorite {
          opacity: 1;
          visibility: visible;
        }
      }

      .card {
        &-footer {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}