/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
}

/* SECTION HOME */
.section-home {
  padding: 90px 0 175px;
  background: $main-second-color;

  .section-bg {
    z-index: 0;

    &__img {
      position: absolute;
      top: 7%;
      right: 8%;
      width: auto;
      height: auto;
      object-fit: fill;
    }
  }
}

.home-content {
  position: relative;
  max-width: 1330px;
  margin: 0 auto;

  &__title {
    margin: 0;
    font-family: $font-family-custom;
    font-size: 120px;
    line-height: 144px;
    letter-spacing: 1px;
  }

  .title {
    margin: 0 0 25px;
  }

  &__text {
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: pre-line;
  }
}

.category-nav-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 1193px;
  padding: 55px 0 0;
  margin: 55px 0 0;

  &__item {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 172px;
    height: 172px;
    padding: 0 0 30px;
    border-radius: 15px;
    background: #ffffff;

    &:hover {
      .category-nav-home__item-pic {
        transform: translateY(-20px);
      }
    }

    &-pic {
      transition: $transition-base;

      img {
        display: block;
        width: 115px;
        height: 143px;
        margin: -55px auto 0;
      }
    }

    &-text {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

/* SECTION BANNER */
.section-banner {
}

.slider-banner {
  width: 100%;
  height: 600px;

  .swiper-slide {

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      max-width: 1920px;
      height: 100%;
    }
  }
}

/* SECTION MAIN CATEGORY */
.section-main-category {
  padding: 185px 0 0;
}

.main-category-container {

}

.main-category {
  &__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 0 65px;
  }

  &__title {

  }

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 0 180px;
  }

  &__card {
    width: 100%;
    max-width: 338px;
    padding: 30px 20px;
    border: none;
    border-radius: 24px;
    transition: $transition-base;

    &-wrap {
      position: relative;
      max-width: 338px;
      height: 540px;
    }

    &-label {
      position: absolute;
      top: 20px;
      left: 6%;
    }

    &-button-favorite {
      position: absolute;
      top: 30px;
      right: 8.9%;
      width: 57px;
      height: 57px;
      padding: 15px;
      border: none;
      border-radius: 100%;
      box-shadow: 0 16px 24px rgba(255, 108, 197, 0.32);
      background: #ffc7e9;
      opacity: 0;
      visibility: hidden;
      transition: $transition-base;

      &.active {
        background: $primary;
      }

      svg {
        width: 26px;
        height: 26px;
      }
    }

    &-img {
      display: block;
      max-width: 245px;
      height: 328px;
      margin: 0 auto 15px;
      object-fit: contain;
      object-position: center;
    }

    &-rating {
      display: none;
    }

    &-price {
      margin: 0 0 20px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &_old {
        display: inline-block;
        margin-right: 10px;
        color: #878787;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 2px;
        text-decoration: line-through;
      }
    }

    &-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin: 0 0 20px;
      color: #a8a8a8;
      letter-spacing: 2px;
    }

    &-reviews {
      color: #a8a8a8;
    }

    .card {
      &-body {
        padding: 0;
      }

      &-title {
        display: block;
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
      }

      &-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 0;
        border: none;
        margin-top: -10%;
        background: none;
        opacity: 0;
        visibility: hidden;
        transition: $transition-base;
      }

      &-select {
        /*& + .select2 {
          &-container {
            .select2 {
              &-selection--single {
                width: 100%;
                max-width: 134px;
                height: 41px;

                .select2-selection {
                  &__rendered {
                    padding: 0 50px 0 30px;
                  }
                  &__arrow {
                    b {

                    }
                  }
                }
              }
            }

            &--default {
              &.select2 {
                &-container--open {
                  &.select2-container {
                    &--below {
                      .select2-selection {
                        &--single, &--multiple {
                          border-radius: 34px 34px 0 0;
                        }
                      }
                    }
                    &--above {
                      .select2-selection {
                        &--single {
                          border-radius: 0 0 34px 34px;
                        }
                      }
                    }
                  }
                }
              }

              .select2 {
                &-selection--single {
                  border: 1px solid $primary;
                  border-radius: 34px;
                  transition: $transition-base;

                  .select2-selection {
                    &__rendered {
                      font-family: $font-family-base;
                      font-weight: 500;
                      line-height: 2.5;
                      text-transform: uppercase;
                    }
                    &__arrow {
                      right: 30px;
                      height: 100%;

                      b {

                      }
                    }
                  }
                }
              }
            }
          }
        }*/
      }
    }

    &:hover {
      //padding-bottom: 70px;
      box-shadow: 48px 48px 48px rgba(49, 49, 49, 0.1);
      z-index: 1;

      .main-category__card {
        &-button-favorite {
          opacity: 1;
          visibility: visible;
        }
      }

      .card {
        &-footer {
          margin: 0;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

/* SECTION STOCK */
.section-stock {
  padding: 130px 0 285px;
  background: $main-second-color;

  &__decor {
    position: absolute;
    inset: 11% 10% auto auto;

    &_sm {
      position: absolute;
      inset: auto auto 0 11%;
    }

    &_lg {
      position: absolute;
      inset: 17.5% 20% auto auto;
    }
  }
}

.main-stock-container {
  padding-left: 133px;

  .title {
    margin: 0 0 40px;
  }

  .subtitle-text {
    max-width: 750px;
    margin: 0 0 70px;
  }
}

/* SECTION BLOG */
.section-main-blog {
  padding: 195px 0 230px;

  .title {
    margin: 0;
  }
}

.main-blog-container {

}

.main-blog {
  padding: 120px 60px 0;

  &__box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    &:not(:last-child) {
      margin: 0 0 120px;
    }

    &:hover {
      .main-blog__box-pic {
        opacity: 1;
        visibility: visible;
      }
    }

    &-pic {
      position: absolute;
      top: 50%;
      right: 17%;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      transition: $transition-base;
    }

    &-content {
      max-width: 860px;
    }

    &-title {
      margin: 0 0 18px;
      font-family: $font-family-custom;
      font-size: 42px;
      line-height: 63px;
      letter-spacing: 1px;
    }

    &-text {
      margin: 0;
      font-size: 20px;
      line-height: 33px;
    }

    &-link {
      align-self: flex-start;
      margin-top: 22px;
    }
  }
}

/* SECTION COURSES */
.section-main-courses {
  background: $main-second-color;
}