/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
  background: $main-second-color;
}

.subscribe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 30px 50px;
  border-radius: 25px;
  margin-top: -80px;
  background: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);

  &__info {
    flex: 0 1 55%;
    max-width: 580px;
    margin-right: 60px;

    &-title {
      margin: 0 0 18px;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 27px;
      text-transform: uppercase;
    }
    &-text {
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 27px;
      letter-spacing: 2px;
    }
  }

  &__form {
    flex: 0 1 40%;
  }

  &__input {
    width: 100%;
    max-width: 426px;
    padding: 12px 80px 12px 17px;
    border: 1px solid #878787;
    border-radius: 30px;
    line-height: 27px;

    &-wrap {
      position: relative;
      display: block;
      margin: 0;
    }

    &-btn {
      position: absolute;
      top: 50%;
      right: 22px;
      padding: 0;
      border: none;
      background: none;
      transform: translateY(-50%);

      svg {
        width: 40px;
        height: 20px;
      }
    }
  }
}

.footer-content-wrap {
  padding: 50px 0 75px;
}

.footer-content {

}

.footer-list {
  &__title {
    margin: 0 0 30px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      color: $text-color;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 27px;
      &:not(:last-child) {
        margin: 0 0 13px;
      }
    }
  }
}

.pay-system {
  margin-top: 50px;

  svg {
    width: 60px;
    height: 40px;
    margin-right: 30px;
  }
}

.footer-bottom {
  padding: 19px 0;
  border-top: 1px solid #D7CABF;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  a {
    display: inline-block;
    margin-right: 15px;

    svg {
      width: 14px;
      height: 14px;
      fill: #333333;
    }
  }
}

.copyright {
  margin: 0;
  line-height: 19px;
  text-align: right;
}