/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 100;
}

.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 35px 0;
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  &__borgir {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    margin: 0 30px 0 0;
    background: none;

    &-line {
      position: absolute;
      bottom: 32%;
      right: 8px;
      width: 17px;
      height: 2px;
      background: #333333;
      transform: translate(0, 50%);
    }

    &::before, &::after {
      content: '';
      position: absolute;
      top: 32%;
      left: 50%;
      display: inline-block;
      width: 25px;
      height: 2px;
      border-radius: 10px;
      background: #333333;
      transform: translate(-50%, -50%);
    }

    &::after {
      top: 50%;
    }

    &-close {
      position: absolute;
      z-index: 1;
    }
  }

  &__nav {
    &-link {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &-hidden {
      position: absolute;
      top: 0;
      left: -200%;
      width: 100%;
      max-width: 555px;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      padding: 150px 0 40px 40px;
      background: #fff;
      transition: $transition-base;

      &-wrap {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .75);
        transition: $transition-base;
        transition-delay: 0.3s;
        z-index: 1000;

        &.show {
          left: 0;
          transition: $transition-base;

          .header-menu__nav-hidden {
            left: 0;
            transition-delay: 0.3s;
          }
        }
      }

      &-link {
        font-size: 35px;

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.header-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.header-search {
  &__input {
    width: 227px;
    padding: 10px 20px 10px 10px !important;
    border: none;
    border-radius: 100px;
    background: #fafafa;

    &-wrap {
      position: relative;
      display: inline-block;
      margin: 0;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    transform: translateY(-50%);

    svg {
      width: 24px;
      height: 24px;
      fill: #333333;
    }
  }
}

.header-client {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  &__link {

  }
}

.header-client-language {
  &__link {
    svg {
      width: 9px;
      height: 9px;
      vertical-align: unset;
    }
  }

  &__dropdown {

  }
}