/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {
}

@include media-breakpoint-up(sm) {
  .btn {
    &-link {
      font-size: 16px;
    }
  }

  .modal {
    &-content {
      padding: 30px;
    }
  }

  .main-title {
    font-size: 60px;
  }

  .header-content {
    .logo {
      picture {
        width: auto;
        height: auto;
      }
    }
  }

  .header-search {
    margin-right: 30px;
  }

  .header-client {
    &__link {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .header-client-language {
    margin-right: 30px;
  }
  /* HEADER END */

  .category-nav-home {
    &__item {
      width: 30%;
    }
  }

  .category-nav {
    justify-content: space-around;

    &__item {
      width: 33.333333%;
    }
  }

  .main-blog {
    &__box-title {
      line-height: 1.5;
    }
  }

  .main-courses {
    &__box {
      &-wrap {
        height: 450px;
      }

      &-name {
        font-size: 20px;
      }
    }
  }

  .modal-form {
    .rating-container {
      .rating-stars {
        max-width: 396px;
      }

      .star {
        &:not(:last-child) {
          margin-right: 60px;
        }
      }
    }
  }

  /* FOOTER */
}

@include media-breakpoint-up(md) {
  .main-title {
    font-size: 120px;
    line-height: 144px;
  }

  .styling-title {
    font-size: 70px;
  }

  .title {
    font-size: 80px;
    line-height: 96px;
  }

  .title-section {
    font-size: 56px;
  }
  /* COMPONENTS END */

  .header-content {
    padding: 35px 0;

    .logo {
      flex: 0 0 auto;
      margin: 0;
    }
  }

  .header-tools {
    width: auto;
    margin: 0;
  }

  .header-search {
    &.show {
      position: relative;
      align-items: center;
      align-content: center;
      width: auto;
      height: auto;
      padding: 0;
    }

    &__trigger {
      display: none;
    }

    &__input {
      &-wrap {
        position: relative;
        inset: 0;
        width: auto;
        transform: none;
      }
    }
  }
  /* HEADER END */

  .home-content {
    &__text {
      font-size: 20px;
    }
  }

  .slider-banner {
    &__slide {
      display: block;

      &-mob {
        display: none;
      }
    }
  }

  .main-category {
    &__head {
      flex-direction: row;
      margin: 0 0 65px;
    }

    &__card {
      &-wrap {
        max-width: 338px;
        height: 590px;
      }

      &-img {
        height: 328px;
      }
    }
  }

  .main-blog {
    &__box-title {
      font-size: 42px;
      line-height: 63px;
    }
  }

  .main-courses {
    &__box {
      margin: 0 10px;
    }
  }

  .section-courses {
    .main-courses {
      &__box {
        flex-direction: row;

        &-description {
          width: calc(100% - 300px);
          padding-left: 20px;
          margin: 0;
        }
      }
    }
  }

  .section-main-faq {
    .title {
      margin: 0 0 100px;
    }
  }

  .faq {
    &__item-question {
      font-size: 22px;
    }
  }

  .section-reviews {
    padding: 115px 0 180px;
  }

  .slider-reviews {
    margin: 0 100px 0 0;

    &-nav {
      inset: 0 0 auto auto;
      width: 50px;
      height: 100%;
    }
  }

  .swiper-button {
    &-prev {
      inset: 0 0 auto auto;

      svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &-next {
      svg {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }

  .main-seo-instagram {
    .title {
      margin: 0 0 70px;
    }

    &__pic {
      padding: 20px;
    }
  }

  .stages {
    &-slide {
      max-width: 444px;
    }
  }

  .category-nav {
    &__item {
      flex-direction: row;
    }

    &__pic {
      margin: 0 30px 0 0;
    }
  }

  /* FOOTER */
  .footer-content-wrap {
    padding: 50px 0 75px;
  }

  .footer-content {
    margin: 0;
  }

  .footer-list {
    text-align: left;

    ul {
      li {
        letter-spacing: 2px;
      }
    }
  }

  .pay-system {
    justify-content: flex-start;
  }
}

@include media-breakpoint-up(lg) {
  .header-content {
    .logo {
      img {
        width: 211px;
        height: 63px;
      }
    }
  }

  .header-menu {
    &__borgir {
      margin-right: 30px;

      &.active {
        top: 40px;
        left: 60px;
      }
    }

    &__nav {
      &-hidden {
        padding: 150px 0 40px 70px;
        overflow-y: auto;

        &-link {
          font-size: 35px;

          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .header-client {
    &__link {
      &.minimizer {
        font-size: inherit;
      }

      svg {
        display: none;
      }

      .cart-count {
        position: static;
        padding: 0;
        border: none;
        background: none;
        color: $text-color;
        font-size: 16px;
        vertical-align: baseline;
      }
    }
  }

  .header-client-language {
    &__link {
      font-size: 16px;

      svg {
        display: inline-block;
      }
    }
  }
  /* HEADER END */

  .section-home {
    padding: 90px 0 175px;
  }

  .category-nav-home__item {
    width: 15%;
    margin: 0;
  }

  .section-main-faq {
    padding: 200px 0 195px;
  }

  .faq {
    &__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &-head {
        padding: 15px 30px;
      }

      &-content {
        padding: 30px;
      }
    }
  }

  .section-reviews {
    .title {
      margin: 0 0 80px;
    }
  }

  .section-instagram {
    padding: 133px 0 155px;

    .main-seo-instagram {
      &__pic {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .section-course {
    padding: 130px 0 170px;

    .main-courses {
      &__box {
        &-description {
          padding-left: 50px;
        }
      }
    }
  }

  .stages-slider {
    .swiper-button {
      &-prev {
        inset: auto 30% calc(100% + 20px) auto;
      }
      &-next {
        inset: auto 0 calc(100% + 20px) auto;
      }
    }
  }

  .section-home-loyalty {
    padding: 145px 0 285px;
  }

  .section-home-about-us {
    padding: 160px 0 280px;
  }

  .section-about-us {
    padding: 185px 0 145px;
  }
}

@include media-breakpoint-up(xl) {
  .styling-title {
    display: inline-block;
  }

  .btn {
    padding: 10px 25px;

    &-lg {
      padding: 20px 32px;
    }
  }

  .section-home {
    .section-bg {
      display: block;
      z-index: 0;

      &__img {
        position: absolute;
        top: 7%;
        right: -5%;
        width: auto;
        height: auto;
        object-fit: fill;
      }
    }
  }

  .home-content {
    text-align: left;
  }

  .category-nav-home__item {
    width: 172px;
  }

  .section-main-category {
    padding: 185px 0 0;
  }

  .main-category {
    &__body {
      margin: 0 0 180px;
    }

    &__slider {
      .swiper-pagination {
        top: 110%;
      }
    }

    &__card {
      &-button-favorite {
        width: 57px;
        height: 57px;
        padding: 15px;
        opacity: 0;
        visibility: hidden;

        svg {
          width: 26px;
          height: 26px;
        }
      }

      .card-title {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
      }

      &:hover {
        .main-category__card-button-favorite {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .section-main-stock {
    &__decor {
      position: absolute;
      inset: 0 0 auto auto;
      display: block;

      &_sm {
        position: absolute;
        inset: auto auto 0 11%;
        display: block;
      }

      &_lg {
        position: absolute;
        inset: 17.5% 10% auto auto;
        display: block;
      }
    }
  }

  .section-main-courses {
    margin: 0 0 220px;
  }

  .main-courses {
    margin-bottom: -170px;

    &__box {
      &-wrap {
        height: 420px;
      }
    }
  }

  .section-courses {
    margin-top: -245px;
  }

  .slider-reviews {
    .swiper-slide {
      max-width: 585px;
    }
  }

  .main-seo {
    &-partners {
      margin: 205px auto 140px;
    }
  }

  .section-seo {
    padding: 180px 0 220px;
  }

  .section-seminars {
    padding: 125px 0 400px;

    &__decor {

    }
  }

  .section-about-course {
    padding: 140px 0 285px;
  }

  .about-course {
    margin-bottom: 190px;

    &__decor {
      position: absolute;
      top: 50%;
      left: -20%;
      display: block;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  .category-nav {
    &__item {
      width: auto;
      margin: 0 auto;
    }
  }

  .section-home-about-us {
    .subtitle-text {
      margin: 0;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .section-home {
    .section-bg {
      z-index: 0;
    }
  }

  .category-nav-home {
    justify-content: space-between;
  }

  .section-main-stock {
    padding: 130px 0 285px;

    &__decor {
      inset: 11% 2% auto auto;

      &_sm {
        inset: auto auto 0 11%;
      }

      &_lg {
        inset: 17.5% 12% auto auto;
      }
    }
  }

  .section-main-faq {
    &__decor {
      position: absolute;
      top: 16%;
      right: 10%;
      display: block;
    }
  }

  .section-main-blog {
    padding: 195px 0 230px;
  }

  .main-blog {
    padding: 120px 60px 0;
  }

  .section-main-courses {
    &__decor {
      position: absolute;
      top: -32%;
      right: 5%;
      display: block;

      &_lg {
        top: 0;
        right: 16%;
      }
    }
  }

  .main-courses-header {
    margin-bottom: 115px;
  }

  .section-reviews {
    &__decor {
      position: absolute;
      top: -51px;
      right: 5%;
      display: block;

      &_sm {
        position: absolute;
        inset: 14px 0 0 -11px;
        display: block;
      }
    }
  }

  .main-seo {
    &-instagram {
      &__decor {
        position: absolute;
        display: block;
        z-index: -1;

        &_first {
          top: 18.75%;
          left: 41.666666%;
        }

        &_second {
          bottom: 9%;
          left: 5%;
          transform: rotate(230deg);
        }

        &_third {
          top: 33%;
          left: 1%;
        }
      }

      &__pic {
        padding: 51px;
      }
    }

    &-partners {
      &__pic {
        margin: 0;
      }
    }
  }

  .stages {
    &-slide {
      height: 550px;
    }
  }

  .main-seo-instagram {

  }

  /* FOOTER */
  .subscribe {
    flex-direction: row;
    padding: 30px 50px;

    &__info {
      margin: 0;
      text-align: left;

      &-text {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 2px;
      }
    }

    &__form {
      width: auto;
    }
  }
}

@include media-breakpoint-up(xxxl) {
  .styling-title {
    margin: 0 0 0 -80px;
  }
  /* COMPONENTS END */

  .main-category {
    &__card {
      &-wrap {
        height: 540px;
      }

      .card {
        &-footer {
          margin-top: -15%;
          opacity: 0;
          visibility: hidden;
        }
      }

      &:hover {
        .card {
          &-footer {
            margin: 0;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &__slider {
      overflow: visible;

      .swiper-pagination {
        display: none;
      }
    }
  }

  .header-menu {
    &__borgir {
      &.active {
        position: relative;
        top: 0;
        left: 0;
      }
    }

    &__nav {
      display: block;

      &-hidden {
        &::before {
          display: none;
        }
      }
    }
  }
  /* HEADER END */

  .section-home {
    .section-bg {
      z-index: 0;

      &__img {
        right: 8%;
      }
    }
  }

  .section-main-stock {
    &__decor {
      inset: 11% 10% auto auto;

      &_sm {
        inset: auto auto 0 11%;
      }

      &_lg {
        inset: 17.5% 20% auto auto;
      }
    }
  }

  .main-stock-container {
    padding-left: 133px;
  }

  .main-blog {
    &__box {
      &:hover {
        .main-blog__box-pic {
          opacity: 1;
          visibility: visible;
        }
      }

      &-pic {
        position: absolute;
        top: 50%;
        right: 17%;
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        transition: $transition-base;
      }
    }
  }

  .section-reviews {
    &__decor {
      right: 20%;
    }
  }

  .slider-reviews {
    margin: 0 0 0 70px;
  }
}

// max-width
@include media-breakpoint-down(xxxl) {
}

@include media-breakpoint-down(xxl) {
}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {

}

@media screen and (max-width: 395px) {
  .category-nav {
    &__item {
      width: 50%;
    }
  }
}