/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {
}
@include media-breakpoint-up(sm) {
  .btn {
    &-link {
      font-size: 16px;
    }
  }

  .modal {
    &-content {
      padding: 30px;
    }
  }

  .main-title {
    font-size: 60px;
  }

  .title-section {
    font-size: 46px;
  }

  .header-content {
    .logo {
      picture {
        width: auto;
        height: auto;
      }
    }
  }

  .header-search {
    margin-right: 30px;
  }

  .header-client {
    &__link {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .header-client-language {
    margin-right: 30px;
  }
  /* HEADER END */

  .category-nav-home {
    &__item {
      width: 30%;
    }
  }

  .category-nav {
    justify-content: space-around;

    &__item {
      width: 33.333333%;
    }
  }

  .catalog {
    &__header {
      flex-wrap: nowrap;
    }

    &-content {
      &__sorting {
        flex-direction: row;

        & > * {
          &:not(:last-child) {
            margin: 0 15px 0 0;
          }
        }
      }

      .main-category {
        &__card {
          &-wrap {
            width: 48%;
            margin: 0 10px 40px 0;
          }

          .card {
            &-footer {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .main-blog {
    &__box-title {
      line-height: 1.5;
    }
  }

  .main-courses {
    &__box {
      &-name {
        font-size: 20px;
      }
    }
  }

  .product-card {
    &__tabs {
      &.ui-tabs {
        .ui-tabs-nav {
          flex-direction: row;

          li {
            margin: 0 20px 10px 0;
          }
        }
      }
    }

    &__spec {
      &-options {
        padding: 0;
      }

      &-description {
        padding: 0;
      }
    }

    &__questions {
      padding: 0;
    }

    &__reviews {
      &-content {
        padding: 0;
      }

      &-box_answer {
        margin-left: 50px;
      }

      &-pic {
        margin: 0;
        float: right;
      }
    }
  }

  .product-cart {
    &__items {
      flex-direction: row;
      width: auto;

      &-view {
        flex-direction: column;
        max-width: 350px;

        .product-cart__item {
          &-view {
            flex-direction: row;
            width: 100%;
          }

          &-name {
            overflow: auto;
            text-align: left;
            text-overflow: clip;
            white-space: normal;
          }
        }
      }

      &-price {
        flex-direction: column;
        padding: 25px 0;
      }
    }

    &__set {
      &-slider {
        padding: 0 100px;

        .swiper {
          &-slide {
            max-width: 455px;
          }

          &-button {
            &-prev {
              display: block;
            }

            &-next {
              display: block;
            }
          }
        }
      }
    }
  }

  .modal-form {
    .rating-container {
      .rating-stars {
        max-width: 396px;
      }

      .star {
        &:not(:last-child) {
          margin-right: 60px;
        }
      }
    }
  }

  .contacts {
    &__info {
      &-list {
        flex-direction: row;
        justify-content: space-evenly;
      }

      &-link {
        &:not(:last-child) {
          margin: 0 20px 10px 0;
        }
      }
    }

    &__schedule {
      letter-spacing: 2px;
    }
  }

  .pay-delivery {
    &__sector {
      .title-section {
        font-size: 46px;
      }

      &-text {
        font-size: 22px;
        line-height: 39px;
      }
    }

    &__box {
      padding: 30px;

      &-head {
        flex-direction: row;
        align-items: center;
        align-content: center;
      }

      &-ico {
        position: relative;
        flex: 0 0 auto;
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-right: 20px;
        border-radius: 100%;
        background: #fcddec;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 30px;
          fill: $primary;
          transform: translate(-50%, -50%);
        }
      }

      &-pic {
        margin: 0 20px 0 0;
      }
    }
  }

  .section-order-processed {
    padding: 60px 0 100px;
  }

  .order-processed {
    &__text {
      margin: 0 0 50px;
      font-size: 56px;
      line-height: 67px;
    }
  }

  .personal-loyalty {
    &__text {
      font-size: 22px;
      line-height: 26px;
    }

    &__sum {
      font-size: 50px;
      line-height: 59px;
    }
  }

  .added-credit-card {
    max-width: none;
  }

  .add-credit-card {
    max-width: none;
  }

  .customer-reviews {
    &__box {
      &-header {
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
      }

      &-title {
        margin: 0;
      }
    }
  }

  .product-review {
    &__info {
      &-footer {
        flex-flow: row wrap;

        .btn {
          margin: 0 20px 0 0;
        }
      }
    }
  }

  .new-post {
    padding: 30px;
  }

  .bonus {
    &-items {
      justify-content: flex-start;
    }

    &-view {
      &-default {
        &__title {
          font-size: 36px;
          line-height: 43px;
        }
      }
    }
  }

  .order-doll {
    padding: 30px;

    &__title {
      margin: 0 auto 52px;
      font-size: 56px;
      line-height: 67px;
    }

    &-form {
      padding: 30px;
    }
  }

  /* FOOTER */
}
@include media-breakpoint-up(md) {
  .main-title {
    font-size: 120px;
    line-height: 144px;
  }

  .styling-title {
    font-size: 70px;
  }

  .title {
    font-size: 80px;
    line-height: 96px;
  }

  .title-section {
    font-size: 56px;
    line-height: 67px;
  }

  .breadcrumb {
    &-item {
      display: block;

      &+ .breadcrumb-item {
        padding-left: 15px;

        &::before {
          padding-right: 15px;
        }
      }
    }
  }
  /* COMPONENTS END */

  .header-content {
    .logo {
      flex: 0 0 auto;
      margin: 0;
    }
  }

  .header-tools {
    width: auto;
    margin: 0;
  }

  .header-search {
    &.show {
      position: relative;
      align-items: center;
      align-content: center;
      width: auto;
      height: auto;
      padding: 0;
    }

    &__trigger {
      display: none;
    }

    &__input {
      &-wrap {
        position: relative;
        inset: 0;
        width: auto;
        transform: none;
      }
    }
  }
  /* HEADER END */

  .home-content {
    &__text {
      font-size: 20px;
    }
  }

  .slider-banner {
    &__slide {
      display: block;

      &-mob {
        display: none;
      }
    }
  }

  .main-category {
    &__head {
      flex-direction: row;
      margin: 0 0 65px;
    }

    &__card {
      &-wrap {
        max-width: 338px;
        height: 590px;
      }

      &-img {
        height: 328px;
      }
    }
  }

  .section-main-blog {
    padding: 100px 0;
  }

  .main-blog {
    &__box {
      &:not(:last-child) {
        margin: 0 0 120px;
      }

      &-title {
        font-size: 42px;
        line-height: 63px;
      }
    }
  }

  .section-main-courses {
    padding: 100px 0;
  }

  .main-courses {
    &__box {
      margin: 0 10px;
    }
  }

  .section-courses {
    padding: 0 0 40px;

    .main-courses {
      &__box {
        flex-direction: row;

        &-description {
          width: calc(100% - 300px);
          padding-left: 20px;
          margin: 0;
        }
      }
    }
  }

  .section-main-faq {
    padding: 100px 0 125px;

    .title {
      margin: 0 0 100px;
    }
  }

  .faq {
    &__item-question {
      font-size: 22px;
    }
  }

  .section-reviews {
    padding: 115px 0 180px;
  }

  .slider-reviews {
    margin: 0 100px 0 0;

    &-nav {
      inset: 0 0 auto auto;
      width: 50px;
      height: 100%;
    }
  }

  .swiper-button {
    &-prev {
      inset: 0 0 auto auto;

      svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &-next {
      inset: auto auto 0 0;

      svg {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }

  .main-seo-instagram {
    .title {
      margin: 0 0 70px;
    }

    &__pic {
      padding: 20px;
    }
  }

  .stages {
    &-slide {
      max-width: 444px;
    }
  }

  .category-nav {
    &__item {
      flex-direction: row;
    }
  }

  .catalog {
    &-content {
      &__section {
        justify-content: center;
      }

      &__sorting {
        & > * {
          &:not(:last-child) {
            margin: 0 50px 0 0;
          }
        }
      }

      .main-category {
        &__card {
          &-wrap {
            margin: 0 10px 40px 0;
          }

          .card {
            &-footer {
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  .section-product-card {
    margin: 0 0 200px;

    .breadcrumb {
      padding: 66px 0 10px;
    }
  }

  .product-card {
    &__head {
      margin: 0 0 60px;

      &-title {
        font-size: 56px;
        line-height: 66px;
      }
    }

    &__tabs {
      &.ui-tabs {
        .ui-tabs-nav {
          li {
            margin: 0;

            &:not(:last-child) {
              margin: 0 20px 0 0;
            }
          }
        }
      }

      &-content {
        .catalog-category {
          margin-top: 150px;
        }
      }
    }

    &__spec {
      flex-direction: row;

      &-options {
        max-width: 285px;
        margin: 0 40px 40px 0;
      }

      &-description {
        width: 50%;
      }
    }

    &__offers {
      &-box {
        flex-direction: row;
        align-items: center;
        align-content: center;
      }

      &-product {
        max-width: 40%;
      }
    }
  }

  .stock {
    &__sorting {
      flex-direction: row;
      align-items: center;
      align-content: center;
      width: auto;

      .stock__sorting {
        margin: 0 20px 0 0;
      }

      &-btn {
        margin: 0 20px 0 0;
      }
    }
  }

  .product-cart {
    &__set {
      &-slider {
        padding: 0 100px;

        .swiper {
          &-slide {
            max-width: 455px;
          }

          &-button {
            &-prev {
              display: block;
            }

            &-next {
              display: block;
            }
          }
        }
      }

      &-box {
        flex-direction: row;
      }

      &-item {
        width: 48%;

        &-info {
          padding: 15px 0;
        }
      }
    }
  }

  .modal#cart {
    .modal {
      &-title {
        padding: 0;
        font-size: 36px;
      }
    }
  }

  .blog-article {
    &__info {
      width: 91%;
      height: 74%;
      max-height: 400px;

      &-title {
        font-size: 56px;
        line-height: 66px;
      }
    }
  }

  .contacts {
    padding: 30px;

    &__info {
      &-title {
        margin: 0 0 40px;
        font-size: 22px;
      }
    }
  }

  .ask-question {
    padding: 30px;
  }

  .address {
    &__title {
      margin: 0 0 70px;
      font-size: 56px;
      line-height: 67px;
    }

    &__box {
      margin: 0 40px 0 0;
    }

    &__list-name {
      padding: 0 0 30px;
      margin: 0 0 30px;
      font-size: 22px;
      line-height: 26px;
    }

    &__list {
      padding: 0;
      margin: 0;

      li {
        &:not(:last-child) {
          margin: 0 0 30px;
        }
      }
    }
  }

  .loyalty-block {
    &__discount {
      flex-direction: row;

      &-table {
        width: 50%;
        max-width: 275px;
        padding: 30px;
        margin: 0 30px 0 0;
      }

      &-info {
        width: 66%;
        max-width: 475px;
      }
    }
  }

  .pay-delivery {
    &__sector {
      .title-section {
        font-size: 56px;
      }
    }
  }

  .registration-payment {
    &-steps {
      padding: 0 0 70px;
      margin: 0 0 50px;

      &__item {
        margin: 0;
      }
    }
  }

  .added-credit-card {
    padding: 30px;

    &__number {
      letter-spacing: 4px;
    }
  }

  .product-review-post {
    &__photos {
      flex-flow: row wrap;
    }

    &__pic {
      width: calc(50% - 40px);
    }
  }

  .product-review {
    flex-flow: row nowrap;

    &__pic {
      margin: 0 30px 0 0;
    }

    &__info {
      &-footer {
        flex-flow: row wrap;
      }
    }
  }

  .new-post {
    flex-direction: row;
  }

  .bonus {
    &-items {
      order: 0;
      margin: 0;
    }

    &-view {
      order: 1;
      margin: 0;

      &-default {
        max-width: 385px;
        margin: 0;
      }
    }

    &-tools {
      order: 2;
      flex-flow: column wrap;
      max-width: 240px;
    }
  }

  /* FOOTER */
  .footer-content-wrap {
    padding: 50px 0 75px;
  }

  .footer-content {
    margin: 0;
  }

  .footer-list {
    text-align: left;

    ul {
      li {
        letter-spacing: 2px;
      }
    }
  }

  .pay-system {
    justify-content: flex-start;
  }
}
@include media-breakpoint-up(lg) {
  .header-content {
    .logo {
      img {
        width: 211px;
        height: 63px;
      }
    }
  }

  .header-menu {
    &__borgir {
      margin-right: 30px;
    }

    &__nav {
      &-hidden {

        &-wrap {
          overflow-y: auto;

          .mCSB_container {
            padding: 150px 20px 40px;
          }
        }

        /*&-link {
          font-size: 35px;

          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }*/
      }
    }
  }

  .header-client {
    &__link {
      &.minimizer {
        font-size: inherit;
      }

      svg {
        display: none;
      }

      .cart-count {
        position: static;
        padding: 0;
        border: none;
        background: none;
        color: $text-color;
        font-size: 16px;
        vertical-align: baseline;
      }
    }
  }

  .header-client-language {
    &__link {
      font-size: 16px;

      svg {
        display: inline-block;
      }
    }
  }
  /* HEADER END */

  .section-home {
    padding: 90px 0 175px;
  }

  .category-nav-home__item {
    width: 23%;
  }

  .category-nav {
    &__item {
      flex: 1 1 auto;
      width: auto;
      margin: 0 auto;
    }
  }

  .section-main-faq {
    padding: 200px 0 195px;
  }

  .faq {
    &__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &-head {
        padding: 15px 30px;
      }

      &-content {
        padding: 30px;
      }
    }
  }

  .section-reviews {
    .title {
      margin: 0 0 80px;
    }
  }

  .section-instagram {
    padding: 133px 0 155px;

    .main-seo-instagram {
      &__pic {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .section-course {
    padding: 130px 0 170px;

    .main-courses {
      &__box {
        &-description {
          padding-left: 50px;
        }
      }
    }
  }

  .stages-slider {
    .swiper-button {
      &-prev {
        inset: auto 30% calc(100% + 20px) auto;
      }
      &-next {
        inset: auto 0 calc(100% + 20px) auto;
      }
    }
  }

  .product-card {
    &__tabs {
      &.ui-tabs {
        .ui-tabs {
          &-nav {
            margin: 0 0 70px;
          }

          &-panel {
            flex-direction: row;
          }
        }
      }
    }

    &__thumbs {
      &-wrap {
        width: 40%;
        margin: 0 auto;

        &+ * {
          width: calc(100% - 425px);
        }
      }
    }

    &__thumb {
      height: 445px;
    }

    &__spec {
      &-options {
        max-width: none;
        margin: 0 0 40px 0;
      }

      &-description {
        width: 100%;
      }
    }

    &__offers {
      &-box {
        &-wrap {
          margin: 0 20px 20px 0;
        }
      }
    }
  }

  .section-home-loyalty {
    padding: 145px 0 285px;
  }

  .section-home-about-us {
    padding: 160px 0 280px;
  }

  .section-about-us {
    padding: 185px 0 145px;
  }

  .promotion {
    &__info {
      &-title {
        font-size: 56px;
        line-height: 76px;
      }
    }
  }

  .section-blog {
    padding: 0 0 350px;
  }

  .section-blog-article-head {
    padding-bottom: 285px;
    margin: 0;

    .breadcrumb {
      padding: 66px 0;
    }
  }

  .blog-article {
    &__head {
      margin: -285px auto 80px;
    }
  }

  .contacts {
    &__schedule {
      flex-direction: row;

      &-item {
        margin-left: 20px;
      }
    }
  }

  .loyalty-block {
    &__discount {
      &-table-title {
        padding: 0 0 40px;
        margin: 0 0 40px;
      }

      &-info-title {
        line-height: 36px;
      }
    }
  }

  .added-credit-card {
    &__number {
      letter-spacing: 2px;
    }
  }

  .product-review {
    &__info {
      &-head {
        flex-direction: row;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  body.fixed {
    padding-right: 17px;
  }

  .styling-title {
    display: inline-block;
  }

  .btn {
    padding: 10px 25px;

    &-lg {
      padding: 20px 32px;
    }
  }

  .section-home {
    .section-bg {
      display: block;
      z-index: 0;

      &__img {
        position: absolute;
        top: 7%;
        right: -5%;
        width: auto;
        height: auto;
        object-fit: fill;
      }
    }
  }

  .home-content {
    text-align: left;
  }

  .section-main-category {
    padding: 185px 0 0;
  }

  .main-category {
    &__body {
      margin: 0 0 180px;
    }

    &__slider {
      .swiper-pagination {
        top: 110%;
      }
    }

    &__card {
      &-button-favorite {
        width: 57px;
        height: 57px;
        padding: 15px;
        opacity: 0;
        visibility: hidden;

        svg {
          width: 26px;
          height: 26px;
        }
      }

      .card-title {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
      }

      &:hover {
        .main-category__card-button-favorite {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .section-main-stock {
    &__decor {
      position: absolute;
      inset: 0 0 auto auto;
      display: block;

      &_sm {
        position: absolute;
        inset: auto auto 0 11%;
        display: block;
        width: 300px;
        height: 300px;
      }

      &_lg {
        position: absolute;
        inset: 17.5% 10% auto auto;
        display: block;
        width: 458px;
        height: 458px;
      }
    }
  }

  .section-main-courses {
    padding: 100px 0 0;
    margin: 0 0 220px;
  }

  .main-courses {
    margin-bottom: -170px;
  }

  .section-courses {
    margin-top: -245px;
  }

  .slider-reviews {
    .swiper-slide {
      max-width: 585px;
    }
  }

  .main-seo {
    &-partners {
      margin: 205px auto 140px;
    }
  }

  .section-seo {
    padding: 180px 0 220px;
  }

  .section-seminars {
    padding: 125px 0 400px;

    &__decor {

    }
  }

  .section-about-course {
    padding: 140px 0 285px;
  }

  .about-course {
    margin-bottom: 190px;

    &__decor {
      position: absolute;
      top: 50%;
      left: -20%;
      display: block;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  .category-nav {
    &-home {
      &__item {
        width: 13%;
      }
    }

    &__dropdown {
      &-wrap {
        display: block;
      }
    }
  }

  .catalog {
    flex-direction: row;

    &-sidebar {
      position: static;
      left: 0;
      padding: 0 !important;
      margin-right: 20px;
      box-shadow: none !important;
      z-index: 99;

      &__switch {
        display: none;
      }
    }

    &-content {
      justify-content: flex-start;
      width: calc(100% - 360px);

      &__section {
        justify-content: flex-start;
      }

      .main-category__card-wrap {
        margin: 0 14px 40px 0;
      }
    }
  }

  .product-card {
    &__thumbs-wrap {
      margin: 0 40px 0 0;

      &+ * {
        width: calc(100% - 520px);
      }
    }
  }

  .section-personal-account {
    margin: 0 0 230px;
  }

  .section-stock {
    margin: 0 0 210px;
  }

  .promotion {
    flex-direction: row;

    &__view {
      width: 38.5%;
    }

    &__info {
      width: 61.5%;
      padding-left: 20px;
    }
  }

  .section-home-about-us {
    .subtitle-text {
      margin: 0;
    }
  }

  .section-blog-article {
    padding: 0 0 70px;
    margin: 0 0 70px;
    border-bottom: 1px solid #F5EDE6;

    &__decor {
      display: block;

      &_first {
        top: 37%;
        right: 4%;
      }

      &_second {
        top: 50%;
        left: 4%;
      }
    }
  }

  .section-blog-article {
    &__decor {
      position: absolute;
      display: none;
    }
  }

  .blog-article {

    &__quote {
      max-width: 1178px;
      margin: 0 auto 70px;
      font-size: 22px;
      line-height: 46px;

      &::before {
        top: auto;
        right: calc(100% + 30px);
        bottom: auto;
      }

      &::after {
        top: auto;
        left: calc(100% + 30px);
      }
    }
  }

  .about-us {
    &__pic {
      img {
        margin: auto;
      }
    }
  }

  .section-about-us-style {
    &__decor {
      &_second {
        img {
          max-width: none;
        }
      }
    }
  }

  .section-contacts {
    margin: 0 0 160px;
  }

  .contacts {
    flex-direction: row;
    margin-top: -227px;

    &__info {
      margin: 0;

      &-title {
        text-align: left;
      }

      &-list {
        justify-content: flex-start;
      }
    }

    &__schedule {
      flex-direction: column;
      align-content: flex-start;

      &-item {
        margin: 0;
      }
    }
  }

  .section-address {
    margin: 0 0 245px;

    &__decor {
      position: absolute;
      top: 75%;
      right: 0;
      display: block;
      transform: translateY(-50%);
    }
  }

  .section-loyalty {
    padding: 160px 0 320px;

    &__decor {
      position: absolute;
      top: 8%;
      display: block;

      &_first {
        left: 4%;
      }

      &_second {
        right: 4%;
      }
    }
  }

  .section-pay-delivery {
    padding: 0 0 295px;
  }

  .section-text {
    padding: 180px 0 320px;
  }

  .section-order-processed {
    padding: 130px 0 210px;

    &__decor {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &_first {
        left: 9%;
      }

      &_second {
        right: 13%;
      }
    }
  }

  .added-credit-card {
    &__number {
      letter-spacing: 4px;
    }
  }

  .customer-review {
    &__content {
      width: 65%;
      max-width: 1140px;
    }

    &__comments {
      position: absolute;
      top: 0;
      right: 0;
      width: 33%;
    }
  }

  #to_top {
    bottom: 15px;
  }
}
@include media-breakpoint-up(xxl) {
  .section-home {
    .section-bg {
      z-index: 0;
    }
  }

  .category-nav-home {
    justify-content: space-between;
  }

  .section-main-stock {
    padding: 130px 0 285px;

    &__decor {
      inset: 11% 2% auto auto;

      &_sm {
        inset: auto auto 0 11%;
      }

      &_lg {
        inset: 17.5% 12% auto auto;
      }
    }
  }

  .section-main-faq {
    &__decor {
      position: absolute;
      top: 16%;
      right: 10%;
      display: block;
    }
  }

  .section-main-blog {
    padding: 195px 0 230px;
  }

  .main-blog {
    padding: 120px 60px 0;
  }

  .section-main-courses {
    &__decor {
      position: absolute;
      top: -32%;
      right: 5%;
      display: block;

      &_lg {
        top: 0;
        right: 16%;
      }
    }
  }

  .main-courses-header {
    margin-bottom: 115px;
  }

  .section-reviews {
    &__decor {
      position: absolute;
      top: -51px;
      right: 5%;
      display: block;

      &_sm {
        position: absolute;
        inset: 14px 0 0 -11px;
        display: block;
        width: 190px;
        height: 140px;
      }
    }
  }

  .main-seo {
    &-instagram {
      &__decor {
        position: absolute;
        display: block;
        z-index: -1;

        &_first {
          top: 18.75%;
          left: 41.666666%;
        }

        &_second {
          bottom: 9%;
          left: 5%;
          transform: rotate(230deg);
        }

        &_third {
          top: 33%;
          left: 1%;
        }
      }

      &__pic {
        padding: 51px;
      }
    }

    &-partners {
      &__pic {
        margin: 0;
      }
    }
  }

  .stages {
    &-slide {
      height: 550px;
    }
  }

  .catalog {
    &-content {
      .main-category {
        &__card {
          &-wrap {
            max-width: 295px;
          }
        }
      }
    }
  }

  .category-nav-home__item {
    max-width: 172px;
  }

  .category-nav {
    &__link {
      flex-direction: row;
    }

    &__pic {
      margin: 0 30px 0 0;
    }
  }

  .product-card {
    &__thumb {
      order: 1;
    }

    &__thumbs {
      order: 0;
      width: auto;
      max-width: none;

      &-wrap {
        flex-direction: row;
        height: 445px;
        margin: 0 80px 0 0;

        &+ * {
          width: calc(100% - 560px);
        }
      }

      .swiper {
        &-slide {
          height: 50%;
        }
      }
    }

    &__spec {
      flex-direction: row;

      &-options {
        max-width: 285px;
        margin: 0 70px 0 0;
      }

      &-description {
        width: calc(100% - 355px);
      }
    }

    &__offers {
      justify-content: flex-start;

      &-box {
        &-footer {
          margin-top: -50px;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  .stock {
    &__box {
      flex-direction: row;

      &-wrap {
        max-width: none;
      }

      &-view {
        width: 38%;
      }

      &-countdown {
        height: 100%;
      }

      &-info {
        width: 62%;
      }
    }
  }

  .promotion {
    &__info {
      padding-left: 40px;
    }
  }

  .main-seo-instagram {

  }

  .section-about-us-style {
    &__pic {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .bonus {
    &-items {
      flex-flow: column wrap;
      width: 100%;
      max-width: 240px;
      max-height: 760px;
    }
  }

  .order-doll {
    justify-content: space-between;

    &__title {
      max-width: 375px;
    }

    &-form {
      margin: 0;
    }
  }

  /* FOOTER */
  .subscribe {
    flex-direction: row;
    padding: 30px 50px;

    &__info {
      margin: 0;
      text-align: left;

      &-text {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 2px;
      }
    }

    &__form {
      width: auto;
    }
  }
}
@include media-breakpoint-up(xxxl) {
  .styling-title {
    margin: 0 0 0 -80px;
  }
  /* COMPONENTS END */

  .main-category {
    &__card {
      &-wrap {
        height: 540px;
      }

      .card {
        &-footer {
          margin-top: -15%;
          opacity: 0;
          visibility: hidden;
        }
      }

      &:hover {
        .card {
          &-footer {
            margin: 0;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &__slider {
      overflow: visible;

      .swiper-pagination {
        display: none;
      }
    }
  }

  .header-menu {
    &__nav {
      display: block;
    }
  }
  /* HEADER END */

  .section-home {
    .section-bg {
      z-index: 0;

      &__img {
        right: 8%;
      }
    }
  }

  .section-main-stock {
    &__decor {
      inset: 11% 10% auto auto;

      &_sm {
        inset: auto auto 0 11%;
      }

      &_lg {
        inset: 17.5% 20% auto auto;
      }
    }
  }

  .main-stock-container {
    padding-left: 133px;
  }

  .main-blog {
    &__box {
      &:hover {
        .main-blog__box-pic {
          opacity: 1;
          visibility: visible;
        }
      }

      &-pic {
        position: absolute;
        top: 50%;
        right: 17%;
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        transition: $transition-base;

        img {
          width: 100%;
          max-width: 100px;
          height: 100%;
          max-height: 200px;
        }
      }
    }
  }

  .blog-article {
    &__pic-inside {
      max-width: 430px;
    }
  }

  .main-courses {
    &__box {
      &:hover {
        .main-courses__box-link {
          margin-top: 20px;
          opacity: 1;
          visibility: visible;
        }
      }

      &-wrap {
        height: 420px;
      }

      &-link {
        margin-top: -50px;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .section-reviews {
    &__decor {
      right: 20%;
    }
  }

  .slider-reviews {
    margin: 0 0 0 70px;
  }

  .catalog {
    &-content {
      &__section {
        margin: 0 0 40px;
      }

      .main-category {
        &__card {
          &-wrap {
            max-width: 333px;
          }
        }
      }
    }
  }

  .product-card {
    &__service {
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
    }

    &__counter {
      margin: 0 0 40px;
    }

    &__offers {
      flex-direction: row;

      &-box {
        &-wrap {
          height: 260px;
        }
      }
    }
  }

  .stock {
    &__box {
      &-countdown {
        padding: 10px 24px;
      }
    }
  }

  .contacts {
    &__info {
      &-list {
        flex-direction: row;
      }

      &-link {
        &:not(:last-child) {
          margin: 0 40px 10px 0;
        }

        &-ico {
          margin-right: 20px;
        }
      }
    }

    &__schedule {
      flex-direction: row;

      &-item {
        margin: 0 0 0 20px;
      }
    }
  }

  .section-address {
    &__decor {
      right: 22%;
    }
  }

  .pay-delivery {
    &__box {
      &-title {
        flex-direction: row;

        span {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  .bonus {
    &-container {
      padding-right: 160px;
    }

    &-items {
      width: 100%;
      max-width: 480px;
      max-height: 740px;

      &__box {
        flex-flow: row nowrap;
        max-width: 200px;

        &:not(:last-child) {
          margin: 0 80px 45px 0;
        }
      }

      &__name {
        margin-left: 20px;
      }
    }
  }
}

// max-width
@include media-breakpoint-down(xxxl) {
}
@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
}
@include media-breakpoint-down(xs) {

}
@media screen and (max-width: 395px) {
  .category-nav {
    &__item {
      width: 50%;
    }
  }
}