<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Каталог</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="header-menu">
                    <button class="header-menu__borgir">
                        <span class="header-menu__borgir-line"></span>
                    </button>

                    <div class="header-menu__nav-hidden-wrap">
                        <nav class="header-menu__nav-hidden">
                            <a href="#1" class="header-menu__nav-hidden-link d-xxxl-none">Каталог</a>
                            <a href="#1" class="header-menu__nav-hidden-link d-xxxl-none">Оплата и доставка</a>
                            <a href="#1" class="header-menu__nav-hidden-link d-xxxl-none">Обзоры</a>
                            <a href="#1" class="header-menu__nav-hidden-link d-xxxl-none">Акции</a>

                            <a href="#1" class="header-menu__nav-hidden-link">Блог</a>
                            <a href="#2" class="header-menu__nav-hidden-link">Семинары</a>
                            <a href="#3" class="header-menu__nav-hidden-link">Контакты</a>
                            <a href="#4" class="header-menu__nav-hidden-link">О нас</a>
                            <a href="#5" class="header-menu__nav-hidden-link">Гарантия и обмен</a>
                            <a href="#6" class="header-menu__nav-hidden-link">Программа лояльности</a>
                        </nav>
                    </div>

                    <nav class="header-menu__nav">
                        <a href="#1" class="header-menu__nav-link">Каталог</a>
                        <a href="#2" class="header-menu__nav-link">Оплата и доставка</a>
                        <a href="#3" class="header-menu__nav-link">Обзоры</a>
                        <a href="#4" class="header-menu__nav-link">Акции</a>
                    </nav>
                </div>

                <a href="/" class="logo">
                    <picture>
                        <img src="<%= require('./img/logo.png') %>" alt="lady prof logo" title="lady prof">
                    </picture>
                </a>

                <div class="header-tools">
                    <form action="" method="" class="header-search">
                        <button type="button" class="header-search__trigger"></button>
                        <label class="header-search__input-wrap">
                            <input type="search" class="header-search__input" placeholder="Search">
                            <button type="submit" class="header-search__button">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-search"></use>
                                </svg>
                            </button>
                        </label>
                    </form>

                    <div class="header-client">
                        <a href="#sign-in" class="header-client__link minimizer">Войти в кабинет
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-profile"></use>
                            </svg>
                        </a>

                        <div class="header-client-language">
                            <a href="#lang" class="header-client-language__link">RU
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-chevrone"></use>
                                </svg>
                            </a>
                            <div class="header-client-language__dropdown">
                                <a href="#lang" class="header-client-language__link">UA</a>
                            </div>
                        </div>

                        <a href="#cart" class="header-client__link minimizer position-relative">Корзина
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-cart"></use>
                            </svg>
                            (<span class="cart-count">99</span>)</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-map">
            <div id="map"></div>
        </section>
        <section class="section section-contacts">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-10 px-xxl-5">
                        <div class="contacts">
                            <div class="contacts__info">
                                <div class="contacts__info-box">
                                    <p class="contacts__info-title">Контактная информация</p>
                                    <div class="contacts__info-list">
                                        <a href="tel:+380509648508" class="contacts__info-link">
                                            <span class="contacts__info-link-ico"><svg><use xlink:href="img/spritemap.svg#sprite-call"></use></svg></span>
                                            +38 (050) 964 85 08
                                        </a>

                                        <a href="tel:+380505874271" class="contacts__info-link">
                                            <span class="contacts__info-link-ico"><svg><use xlink:href="img/spritemap.svg#sprite-call"></use></svg></span>
                                            +38 (050) 587 42 71
                                        </a>

                                        <a href="mailto:ladyprof@ukr.net" class="contacts__info-link">
                                            <span class="contacts__info-link-ico"><svg><use xlink:href="img/spritemap.svg#sprite-mail"></use></svg></span>
                                            ladyprof@ukr.net
                                        </a>
                                    </div>
                                </div>

                                <div class="contacts__info-box">
                                    <p class="contacts__info-title">Социальны сети</p>
                                    <div class="contacts__info-list">
                                        <a href="tel:+380509648508" class="contacts__info-link" target="_blank">
                                            <span class="contacts__info-link-ico"><svg><use xlink:href="img/spritemap.svg#sprite-inst"></use></svg></span>
                                            Instagram
                                        </a>

                                        <a href="tel:+380505874271" class="contacts__info-link" target="_blank">
                                            <span class="contacts__info-link-ico"><svg><use xlink:href="img/spritemap.svg#sprite-fb"></use></svg></span>
                                            Facebook
                                        </a>
                                    </div>
                                </div>

                                <p class="contacts__schedule">График работы
                                    <span class="contacts__schedule-item">
                                        <span class="contacts__schedule-days">ПН - СБ</span>
                                        <span class="contacts__schedule-time">08:00 - 21:00</span>
                                    </span>
                                    <span class="contacts__schedule-item">
                                        <span class="contacts__schedule-days">ВС</span>
                                        <span class="contacts__schedule-time">09:00 - 18:00</span>
                                    </span>
                                </p>
                            </div>

                            <div class="ask-question">
                                <form action="" method="" class="ask-question__form">
                                    <div class="form-group">
                                        <label class="w-100 m-0">
                                            <span class="input-name important">Имя Фамилия</span>
                                            <input type="text" class="form-control w-100">
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class="w-100 m-0">
                                            <span class="input-name important">E-mail</span>
                                            <input type="text" class="form-control w-100">
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class="w-100 m-0">
                                            <span class="input-name important">Комментарий</span>
                                            <textarea class="form-control w-100"></textarea>
                                        </label>
                                    </div>

                                    <button type="submit" class="ask-question__form-submit d-inline-flex justify-content-between btn btn-lg btn-primary btn-block text-uppercase text-left">
                                        Задать вопрос <svg><use xlink:href="img/spritemap.svg#sprite-arrow-submit"></use></svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-address">
            <picture class="section-address__decor">
                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/decor09.png') %>" alt="image" title="image">
            </picture>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-10 px-xxl-5">
                        <div class="address">
                            <p class="address__title">Адреса магазинов</p>

                            <div class="address__content">
                                <div class="address__box">
                                    <p class="address__list-name">Г. Херсон</p>
                                    <ul class="address__list">
                                        <li>ул. Илюши Кулика, 116</li>
                                        <li>ул. 49-ой Гвардейской Дивизии, 26а</li>
                                        <li>ул. Потьомкинская, 42 а</li>
                                        <li>ул. 49-ой Гвардейской Дивизии, 26а</li>
                                        <li>ул. Илюши Кулика, 116</li>
                                    </ul>
                                </div>

                                <div class="address__box">
                                    <p class="address__list-name">Г. Одесса</p>
                                    <ul class="address__list">
                                        <li>ул. Дерибасовская, 23</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe">
                        <div class="subscribe__info">
                            <p class="subscribe__info-title">У нас для тебя кое-что есть!</p>
                            <p class="subscribe__info-text">Подпишись на рассылку и получи гайд по самыми трендовыми дизайнами для ногтей в этом сезоне.</p>
                        </div>

                        <form action="" class="subscribe__form">
                            <div class="form-group m-0">
                                <label class="subscribe__input-wrap">
                                    <input type="email" placeholder="Ваш email" class="subscribe__input">
                                    <button type="button" class="subscribe__input-btn">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-arrow-btn"></use>
                                        </svg>
                                    </button>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer-content-wrap">
                <div class="row">
                    <div class="col-xxxl-3 mb-md-4 mb-xxxl-0">
                        <div class="footer-content text-center">
                            <a href="/" class="logo">
                                <picture>
                                    <img src="<%= require('./img/logo.png') %>" alt="lady prof logo" title="lady prof">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxxl-3 col-md-4">
                        <div class="footer-content">
                            <div class="footer-list">
                                <p class="footer-list__title">Каталог</p>
                                <ul>
                                    <li><a href="#">Макияж</a></li>
                                    <li><a href="#">Волосы</a></li>
                                    <li><a href="#">Ногти</a></li>
                                    <li><a href="#">Лицо</a></li>
                                    <li><a href="#">Акции</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxxl-3 col-md-4">
                        <div class="footer-content">
                            <div class="footer-list">
                                <p class="footer-list__title">Магазин</p>
                                <ul>
                                    <li><a href="#">О нас</a></li>
                                    <li><a href="#">Отзывы</a></li>
                                    <li><a href="#">Блог</a></li>
                                    <li><a href="#">Гарантия и обмен</a></li>
                                    <li><a href="#">Доставка и оплата</a></li>
                                    <li><a href="#">Условия использования</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxxl-3 col-md-4">
                        <div class="footer-content">
                            <div class="footer-list">
                                <p class="footer-list__title">Контакты</p>
                                <ul>
                                    <li><a href="tel:+380509648508">+38 050 964 85 08</a></li>
                                    <li>г. Херсон</li>
                                    <li>пн. - сб. 8.00-21.00, вс. 9-18</li>
                                    <li><a href="mailto:info@ladyprof.ua">info@ladyprof.ua</a></li>
                                </ul>
                            </div>

                            <div class="pay-system">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/visa.svg') %>" alt="image" title="image">
                                </picture>

                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/mastercard.svg') %>" alt="image" title="image">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="row">
                    <div class="col-4">
                        <div class="social">
                            <a href="#" target="_blank" rel="nofollow">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-youtube"></use>
                                </svg>
                            </a>

                            <a href="#" target="_blank" rel="nofollow">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-insta"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="col-8">
                        <p class="copyright">Copyright © 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>