<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="header-menu">
                    <button class="header-menu__borgir">
                        <span class="header-menu__borgir-line"></span>
                    </button>

                    <div class="header-menu__nav-hidden-wrap">
                        <nav class="header-menu__nav-hidden">
                            <a href="#1" class="header-menu__nav-hidden-link">Блог</a>
                            <a href="#2" class="header-menu__nav-hidden-link">Семинары</a>
                            <a href="#3" class="header-menu__nav-hidden-link">Контакты</a>
                            <a href="#4" class="header-menu__nav-hidden-link">О нас</a>
                            <a href="#5" class="header-menu__nav-hidden-link">Гарантия и обмен</a>
                            <a href="#6" class="header-menu__nav-hidden-link">Программа лояльности</a>
                        </nav>
                    </div>

                    <nav class="header-menu__nav">
                        <a href="#1" class="header-menu__nav-link">Каталог</a>
                        <a href="#2" class="header-menu__nav-link">Оплата и доставка</a>
                        <a href="#3" class="header-menu__nav-link">Обзоры</a>
                        <a href="#4" class="header-menu__nav-link">Акции</a>
                    </nav>
                </div>

                <a href="/" class="logo">
                    <picture>
                        <img src="<%= require('./img/logo.png') %>" alt="lady prof logo" title="lady prof">
                    </picture>
                </a>

                <div class="header-tools">
                    <form action="" method="" class="header-search">
                        <label class="header-search__input-wrap">
                            <input type="search" class="header-search__input">
                            <button class="header-search__button">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-search"></use>
                                </svg>
                            </button>
                        </label>
                    </form>

                    <div class="header-client">
                        <a href="#sign-in" class="header-client__link">Войти в кабинет</a>

                        <div class="header-client-language">
                            <a href="#lang" class="header-client-language__link">RU <svg><use xlink:href="img/spritemap.svg#sprite-chevrone"></use></svg></a>
                            <div class="header-client-language__dropdown">
                                <a href="#lang" class="header-client-language__link">UA</a>
                            </div>
                        </div>

                        <a href="#sign-in" class="header-client__link">Корзина (0)</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-home">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/girl-home01.png') %>" class="section-bg__img" alt="image" title="image">
                </picture>
            </div>

            <div class="container">
                <div class="home-content">
                    <span class="styling-title">С любовью</span>
                    <p class="home-content__title text-primary">Lady Prof</p>
                    <p class="title">магазин косметики</p>
                    <p class="home-content__text">Мы предлагаем лучшее, что
                        может дать природа</p>

                    <nav class="category-nav-home">
                        <a href="#1" class="category-nav-home__item" style="background: #F3ECFF; box-shadow: 0px 40px 25px -13px rgba(212, 189, 255, 0.6);">
                            <picture class="category-nav-home__item-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/makiazh.svg') %>" alt="image" title="image">
                            </picture>
                            <span class="category-nav-home__item-text">Макияж</span>
                        </a>

                        <a href="#2" class="category-nav-home__item" style="background: #FBFFD6; box-shadow: 0px 40px 25px -13px rgba(245, 232, 186, 0.6);">
                            <picture class="category-nav-home__item-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/volosi.svg') %>" alt="image" title="image">
                            </picture>
                            <span class="category-nav-home__item-text">Волосы</span>
                        </a>

                        <a href="#3" class="category-nav-home__item" style="background: #E7FFF8; box-shadow: 0px 40px 25px -13px rgba(176, 242, 226, 0.6);">
                            <picture class="category-nav-home__item-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/litso.svg') %>" alt="image" title="image">
                            </picture>
                            <span class="category-nav-home__item-text">Лицо</span>
                        </a>

                        <a href="#4" class="category-nav-home__item" style="background: #FBFFD6; box-shadow: 0px 40px 25px -13px rgba(245, 232, 186, 0.6);">
                            <picture class="category-nav-home__item-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/ruki.svg') %>" alt="image" title="image">
                            </picture>
                            <span class="category-nav-home__item-text">Руки</span>
                        </a>

                        <a href="#5" class="category-nav-home__item" style="background: #FFEBFB; box-shadow: 0px 40px 25px -13px rgba(255, 189, 240, 0.6);">
                            <picture class="category-nav-home__item-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/nogti.svg') %>" alt="image" title="image">
                            </picture>
                            <span class="category-nav-home__item-text">Ногти</span>
                        </a>

                        <a href="#5" class="category-nav-home__item" style="background: #F3ECFF; box-shadow: 0px 40px 25px -13px rgba(212, 189, 255, 0.6);">
                            <picture class="category-nav-home__item-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/nogi.svg') %>" alt="image" title="image">
                            </picture>
                            <span class="category-nav-home__item-text">Ноги</span>
                        </a>
                    </nav>
                </div>

                <!--<div class="row">
                    <div class="col-11 offset-1">
                        .
                    </div>
                </div>-->
            </div>
        </section>

        <section class="section section-banner">
            <div class="container-fluid px-0">
                <div class="slider-banner swiper-container">
                    <div class="swiper-wrapper">
                        <a href="#page" class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/banner-slide01.png') %>" alt="image" title="image">
                            </picture>
                        </a>

                        <a href="#page" class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/banner-slide02.png') %>" alt="image" title="image">
                            </picture>
                        </a>

                        <a href="#page" class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/banner-slide01.png') %>" alt="image" title="image">
                            </picture>
                        </a>

                        <a href="#page" class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/banner-slide02.png') %>" alt="image" title="image">
                            </picture>
                        </a>

                        <a href="#page" class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/banner-slide01.png') %>" alt="image" title="image">
                            </picture>
                        </a>

                        <a href="#page" class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/banner-slide02.png') %>" alt="image" title="image">
                            </picture>
                        </a>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="section section-main-category">
            <div class="main-category-container container">
                <div class="row">
                    <div class="col-12">
                        <div class="main-category">
                            <div class="main-category__head">
                                <p class="main-category__title title-section">Акция дня</p>
                                <a href="#page" class="main-category__link-more btn-link">Перейти в акции</a>
                            </div>

                            <div class="main-category__body">
                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-danger">Скидка</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img01.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-danger">Скидка</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img02.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-danger">Скидка</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img03.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-danger">Скидка</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img01.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-danger">Скидка</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img04.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="main-category">
                            <div class="main-category__head">
                                <p class="main-category__title title-section">Бестселлеры</p>
                                <a href="#page" class="main-category__link-more btn-link">ПОСМОТРЕТЬ ВСЕ ТОВАРЫ</a>
                            </div>

                            <div class="main-category__body">
                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-warning">Хит</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img01.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-warning">Хит</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img02.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-warning">Хит</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img03.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-warning">Хит</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img01.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-warning">Хит</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img04.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="main-category">
                            <div class="main-category__head">
                                <p class="main-category__title title-section">Новинки</p>
                            </div>

                            <div class="main-category__body">
                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-success">Новинки</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img01.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-success">Новинки</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img02.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-success">Новинки</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img03.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-success">Новинки</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img01.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-category__card-wrap">
                                    <div class="main-category__card card">
                                        <span class="main-category__card-label badge bg-success">Новинки</span>
                                        <button class="main-category__card-button-favorite">
                                            <svg><use xlink:href="img/spritemap.svg#sprite-favorite"></use></svg>
                                        </button>

                                        <picture>
                                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-img04.png') %>" class="main-category__card-img card-img" alt="image" title="image">
                                        </picture>

                                        <div class="card-body">
                                            <input type="number" name="rating" class="main-category__card-rating star-rating-output" min="0" max="5" value="4" step="1">

                                            <a href="#product-page" class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, voluptatem!</a>

                                            <p class="main-category__card-price">115 ₴</p>

                                            <div class="main-category__card-info">
                                                <span class="main-category__card-manufacturer">PNB</span>

                                                <a href="#reviews" class="main-category__card-reviews">11 отзывов</a>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <select class="card-select">
                                                <option value="01">8 ml</option>
                                                <option value="02">12 ml</option>
                                                <option value="03">999 ml</option>
                                            </select>
                                            <a href="#" class="btn btn-primary">в корзину</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-stock">
            <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/small-ellipse.svg') %>" class="section-stock__decor_sm" alt="image" title="image"></picture>
            <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/big-ellipse.svg') %>" class="section-stock__decor_lg" alt="image" title="image"></picture>
            <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/girl2.png') %>" class="section-stock__decor" alt="image" title="image"></picture>

            <div class="container">
                <div class="row">
                    <div class="col-7 offset-1">
                        <div class="main-stock-container">
                            <span class="styling-title">Скидки</span>
                            <p class="title">Программа лояльности</p>
                            <p class="subtitle-text">Накопи сумму покупок и получи постоянную скидку в нашем интернет-магазине и всех магазинах сети</p>

                            <p class="text-md-right"><a href="#" class="btn-link">Узнать о программе</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-main-blog">
            <div class="container">
                <div class="row">
                    <div class="col-3 offset-1">
                        <span class="styling-title">Актуально</span>
                        <p class="title">Блог</p>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn-link">ПЕРЕЙТИ КО ВСЕМ СТАТЬЯМ</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="main-blog">
                            <div class="main-blog__box">
                                <p class="main-blog__box-title">Тестирую корейское мицеллярное масло Isntree Micellar Melting Cleansing Oil</p>
                                <div class="main-blog__box-content">
                                    <p class="main-blog__box-text">Как часто у вас возникает проблема с очищением кожи после макияжа? Особенно если сделали его стойкой, профессиональной косметикой?</p>
                                    <a href="#" class="main-blog__box-link btn-link">Читать</a>
                                </div>
                            </div>

                            <div class="main-blog__box">
                                <p class="main-blog__box-title">Новые осенние оттенки Euphoria от FOX</p>
                                <div class="main-blog__box-content">
                                    <p class="main-blog__box-text">Как часто у вас возникает проблема с очищением кожи после макияжа? Особенно если сделали его стойкой, профессиональной косметикой?</p>
                                    <a href="#" class="main-blog__box-link btn-link">Читать</a>
                                </div>
                            </div>

                            <div class="main-blog__box">
                                <p class="main-blog__box-title">Тестирую корейское мицеллярное масло Isntree Micellar Melting Cleansing Oil</p>
                                <div class="main-blog__box-content">
                                    <p class="main-blog__box-text">Как часто у вас возникает проблема с очищением кожи после макияжа? Особенно если сделали его стойкой, профессиональной косметикой?</p>
                                    <a href="#" class="main-blog__box-link btn-link">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-main-courses">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="styling-title">Интересно</span>
                        <p class="title">Семинары</p>

                        <a href="#" class="btn-link">Подробнее</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-main-faq">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="title">Вопросы ответы</p>
                    </div>
                </div>
            </div>
        </section>

        <!--<div class="section">
            <div class="container">
                <div class="slider-handles"><input type="range" min="100" max="5000"></div>
            </div>
        </div>-->
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
